body{
  background-color: black;
  color: white;
}
h1 a{
  text-decoration: none;
}

h1 a:link{
  color:white;
}
h1 a:visited{
  color:white;
}
h1 a:active{
  color:white;
}

h1 a:hover{
  color:white;
  font-weight: bold;
}